.form_wrap {
    background-color: white;
    opacity: 0.8;
    border: transparent;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
}

.or_div{
    width: 40%;
    height: 2px;
    background-color: black;
}